<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="3u 6u(medium) 12u$(small)">

								<!-- Links -->
									<section class="widget links">
										<h3>Web Apps</h3>
										<ul class="style2">
											<li><a href="http://ngpopulation.slickwebstudio.com">Pop Graph</a></li>
											<li><a href="http://nggallery.slickwebstudio.com">Angular Gallery</a></li>
											<li><a href="http://ngstates.slickwebstudio.com">The 50 States</a></li>
											<li><a href="http://ngnasa.slickwebstudio.com">Consume NASA</a></li>


										</ul>
									</section>

							</div>
							<div class="3u 6u$(medium) 12u$(small)">
								<!-- Links -->
									<section class="widget links">
										<h3>More Sites</h3>
										<ul class="style2">
											<li><a href="http://spacecardanbikeusa.com">Space Cardan Bike USA</a></li>
											<li><a href="http://bjones-spa.com">b.jones organic spa</a></li>
										</ul>
									</section>


							</div>
							<div class="3u 6u(medium) 12u$(small)">

								<!-- Links -->
									<section class="widget links">
										<h3>Me</h3>
										<ul class="style2">
											<li><a href="http://slickwebstudio.com">Slick Web Studio</a></li>
											<li><a href="http://josedelavalle.com">Online Portfolio</a></li>

										</ul>
									</section>

							</div>
							<div class="3u 6u$(medium) 12u$(small)">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Jose DeLavalle</h3>
										<ul>
											<li><a href="https://twitter.com/slickwebstudio" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://github.com/josedelavalle" class="icon fa-github"><span class="label">Github</span></a></li>
											<li><a href="https://www.linkedin.com/in/jose-delavalle-49aa7411a" class="icon fa-linkedin"><span class="label">Linked In</span></a></li>
											<li><a href="http://codepen.io/josedelavalle/" class="icon fa-codepen"><span class="label">Codepen</span></a></li>
											<li><a href="mailto:me@slickwebstudio.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
										</ul>

									</section>

							</div>
						</div>
						<!-- <div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Internet of Earth. No rights reserved</li>
									</ul>
								</div>
							</div>
						</div> -->
					</footer>
				</div>
